<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DGet Weather conditions</tite>
        <link href="{{ url_for('static', filename='styles/styles.css')}}" rel="stylesheet"/>
    </head>

    <body>
        <h1>Get Weather Conditions</h1>
        <form action="/Weather">
            <input type="text" name="City" id="City" placeholder="Enter a City" />
            <button type="Submit">submit</button>
        </form>
    </body>
</html>
